.heading{
    font-size: 25.5px;
    width: 100%;
    margin:0px;
}


.note{
    font-size: 15.5px;
    color: cyan;
}
body{
    background-size: cover;
}
.song_name{
    font-size: 40px;
    color: ghostwhite;
}


